body {
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    outline: none !important;
    box-shadow: 0 0 3px var(--form-box-shadow-color) !important;
    border-color: var(--form-border-color);
}

.form-select:focus {
    outline: none !important;
    box-shadow: 0 0 3px var(--form-box-shadow-color) !important;
    border-color: var(--form-border-color); 
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.form-check-input:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem var(--form-box-shadow-color);
}